.detailsContainer {
   max-width: 100%;
    background-color: var(--background-color);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

.header {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 15px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.title {
    font-size: 1.75rem;
    color: #004085;
    font-weight: 600;
}
.dateStatusContainer {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.date, .status {
    font-size: 1.1rem;
    color: #58666e;
    margin-top: 5px;
    padding-left: 20px;
}

.details {
    width: 70%;
    padding: 15px 0 30px 0;
    align-items: center;
    background-color: var(--background-color);

}

.detailItem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    gap: 24px;
    margin-bottom: 16px;
}

.label {
    font-weight: 600;
    color: #414141;
    padding-left: 50px;
}

.dynamic {
    color: #555;
    text-align: left;
    font-weight: 400;
    background: #ffffff;
    border-radius: 4px;
    padding: 8px 12px;
    display: inline-block;
    min-width: 200px;
}

.attachments {
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
}

.attachmentItem {
    margin-top: 20px;
    font-weight: 600;
    color: #414141;
    text-align: left;

}

.attachmentList {
    list-style: none;
    padding-left: 50px;
    margin-top: 10px;

}

.attachmentList li {
    margin-bottom: 5px;
    background: #f8f9fa;
    border-radius: 4px;
    padding: 8px 12px;
}

.actions {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    padding-bottom: 50px;

}

.button {
    background-color: #0056a6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
    width: 300px;
    min-height: 50px;
}

.button:hover {
    background-color: #004a94;
}

.button:disabled {
    background-color: #004a94;
}

@media (max-width: 768px) {
    .application-container {
        padding: 20px;
    }

    .title {
        font-size: 1.5rem;
    }

    .details {
        padding-bottom: 15px;
    }

    .detailItem {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .actions {
        flex-direction: column;
        align-items: stretch;
    }

    .button {
        width: 100%;
        margin-top: 10px;
    }
}
@media print {
    .actions,
    .TopMenu,
    .inneElementyKtoreNieMajaBycDrukowane {
        display: none !important;
    }

    .detailsContainer,
    .details {
        text-align: left;
        max-width: 100%;
        box-shadow: none;
        border-radius: 0;
    }

    .label,
    .dynamic {
        font-size: 10pt;
    }

    .detailsContainer {
        page-break-after: auto;
    }


    .title,
    .date,
    .status,
    .detailItem,
    .attachmentList {
        display: block !important;
    }
}
